.simpson-character {
  width: 220px;
  height: 220px;
  border: 10px solid var(--color-secondary);
  border-radius: 20px;
  text-align: center;
  padding: 10px 10px 0 10px;
  transition: border-color 0.5s;

  &:hover {
    border-color: var(--color-character-font);
    filter: brightness(85%);
    transform: scale(1.2);
  }
}

.simpson-character__name {
  font-family: var(--font-characters);
  color: var(--color-character-font);
  font-size: 1rem;
  margin-bottom: 5px;
}

.simpson-character__image {
  width: 60%;
  height: 80%;
  object-fit: contain;
}

@media (width < 530px) {
  .simpson-character {
    width: 280px;
    height: 300px;
    overflow: hidden;
    text-align: center;
  }

  .simpson-character__name {
    margin-bottom: 20px;
  }
}
